@import "tailwindcss";

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #2b2721;
}

.shader-frame {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
}
